<div class="h5">default basscss h5</div>
<div class="h6">basscss overridden via custom property</div>

<div class="{{styles.giant-app-text}}">giant controller-local text</div>

<p>padded paragraph text from a manually boosted file</p>

{{#test-component}}green text from an automatically loaded component style{{/test-component}}
